<form (ngSubmit)="onSubmit()" #tournamentForm="ngForm" name="tournamentForm">
  <datalist id="bowlerList">
    <option *ngFor="let name of filteredBowlerNames" [value]="name"></option>
  </datalist>
  <div class="justify">
    <a routerLink=".." class="nav-link">Cancel</a>
    <button type="submit" class="btn btn-success" [disabled]="!tournamentForm.form.valid">Save</button> 
  </div>

  <div *ngFor="let error of getErrors(tournamentForm.form)">
    {{error.message}}
  </div>
  
  <mat-card class="mbam-table-surface">
    <mat-card-content>
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Bowler">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input
          [name]="'Bowler' | appendValues:element.BowlerId"
          type="text"
          matInput
          [(ngModel)]="element.Bowler"
          (ngModelChange)="onBowlerNameChange(element)"
          list="bowlerList"
          required
          appBowlerExists
        />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Average">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">Avg</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Average' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Average" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game1">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">1</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game1' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game1" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game2">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">2</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game2' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game2" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game3">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">3</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game3' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game3" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game4">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">4</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game4' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game4" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game5">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">5</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game5' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game5" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game6">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">6</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game6' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game6" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game7">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">7</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game7' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game7" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Game8">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em">8</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input [name]="'Game8' | appendValues:element.BowlerId" type="number" matInput [(ngModel)]="element.Game8" />
      </td>
    </ng-container>
    
    <ng-container matColumnDef="Scratch">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em"> Scratch </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{element.scratch()}} </td>
    </ng-container>

    <ng-container matColumnDef="POA">
      <th mat-header-cell mat-sort-header *matHeaderCellDef width="3em"> POA </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{element.poa()}} </td>
    </ng-container>
    
    <ng-container matColumnDef="IgnoreForAverage">
      <th mat-header-cell *matHeaderCellDef width="5em"> Ignore </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input
          [name]="'IgnoreForAverage' | appendValues:element.BowlerId"
          type="checkbox"
          [(ngModel)]="element.IgnoreForAverage"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="WonStars">
      <th mat-header-cell *matHeaderCellDef width="5em"> Won Stars </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <input
          [name]="'WonStars' | appendValues:element.BowlerId"
          type="checkbox"
          [(ngModel)]="element.WonStars"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef width="4em"></th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <app-action-icon-button
          [icon]="faTrash"
          variant="delete"
          ariaLabel="Delete row"
          (action)="removeRow(i)"
        ></app-action-icon-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:  displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <div class="justify">
    <button type="button" class="btn btn-outline-secondary" (click)="addRow()">Add Row</button>
  </div>
</form>
