table {
    width: 100%;
    margin-bottom: 1em;
}

th, td {
    text-align: right;
    padding: 0 3px;
}

.mat-column-Bowler {
    text-align: left;
    width: 22%;
    min-width: 160px;
}

.mdc-data-table__row {
    height: 40px;
}

input {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    width: 100%;
    min-width: 50px;
    padding: 2px 2px;
    box-sizing: border-box;
    background: #fff;
}

input[type="number"] {
    text-align: right;
}

.mat-column-Actions {
    text-align: center;
}

.btn-icon {
    padding: 2px 6px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid transparent;
    color: #b3261e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    line-height: 1;
}

.btn-icon:hover {
    border-color: #e6b9b7;
    background: #fff5f5;
}

.btn-delete fa-icon {
    font-size: 14px;
    display: block;
}

@media (max-width: 768px) {
    input[type="number"] {
        min-width: 35px;
    }
}
