table {
    width: 100%;
    margin-bottom: 1em;
}

th, td {
    text-align: right;
    padding: 0 3px;
}

.mat-column-Bowler {
    text-align: left;
    width: 22%;
    min-width: 160px;
}

.mdc-data-table__row {
    height: 40px;
}

input {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    width: 100%;
    min-width: 50px;
    padding: 2px 2px;
    box-sizing: border-box;
    background: #fff;
}

input[type="number"] {
    text-align: right;
}

.mat-column-Actions {
    text-align: center;
}

@media (max-width: 768px) {
    input[type="number"] {
        min-width: 35px;
    }
}
