<select (change)="changeSeason($event.target.value)">
    <option *ngFor="let s of seasons" [value]="s.SeasonCode" [selected]="this.current.season == s.SeasonCode">{{s.SeasonDesc}}</option>
</select>

<select (change)="changeTournament($event.target.value * 1)">
    <option value="0" selected>Summary</option>
    <option *ngFor="let t of tournaments" [value]="t.Id">{{t.TournamentNumber}} - {{t.TournamentLocation}}</option>
</select>

<div class="container flex-grow-1 flex-shrink-1">
  <router-outlet></router-outlet>
</div>