table {
    width: 100%;
    margin-bottom: 1em;
}

th, td {
    text-align: right;
}

.mat-column-Bowler {
    text-align: left;
}

.mdc-data-table__row {
    height: 40px;
}

.ignored-avg {
    color: #c0392b;
    font-size: 0.8em;
    margin-left: 6px;
    font-weight: 600;
}

.won-stars {
    color: #d4a017;
    margin-right: 6px;
    font-size: 0.95em;
}
