/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.snow.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ng-invalid:not(form)  {
    border: 1pt solid #a94442 !important;
    background: #f79f9e !important;
}

.justify {
    display: flex;
    justify-content: space-between;
}

/* Quill overrides */
.ql-table > .ql-picker-label {
    width: 6em;
}
.ql-table > .ql-picker-label::before {
    content: "Table";
}

.ql-picker-item[data-value="insert"]::before { content: "Insert"; }
.ql-picker-item[data-value="delete"]::before { content: "Delete"; }
.ql-picker-item[data-value="insert-row-above"]::before { content: "Insert Row Above"; }
.ql-picker-item[data-value="insert-row-below"]::before { content: "Insert Row Below"; }
.ql-picker-item[data-value="insert-column-left"]::before { content: "Insert Column Left"; }
.ql-picker-item[data-value="insert-column-right"]::before { content: "Insert Column Right"; }
.ql-picker-item[data-value="delete-row"]::before { content: "Delete Row"; }
.ql-picker-item[data-value="delete-column"]::before { content: "Delete Column"; }
