a {
    white-space: nowrap;
}

#exports {
    width: 100%;

    #csv {
        float: right;
    }
}

.non-average {
    background-color: #eee !important;
}

.ignored-avg {
    color: #c0392b;
    font-size: 0.8em;
    margin-left: 6px;
    font-weight: 600;
}
