<div class="announcement-banner" *ngIf="activeAnnouncements.length > 0 && !isDismissed">
  <button
    class="announcement-banner__nav"
    (click)="prev()"
    aria-label="Previous announcement"
    *ngIf="activeAnnouncements.length > 1"
  >
    ‹
  </button>
  <div class="announcement-banner__content" [innerHTML]="currentAnnouncement"></div>
  <button
    class="announcement-banner__nav"
    (click)="next()"
    aria-label="Next announcement"
    *ngIf="activeAnnouncements.length > 1"
  >
    ›
  </button>
  <button
    type="button"
    class="announcement-banner__dismiss"
    (click)="dismiss()"
    aria-label="Dismiss announcements for this session"
    title="Dismiss announcements"
  >
    &times;
  </button>
</div>
