<mat-card class="mbam-table-surface">
  <mat-card-header>
    <h1>Winners</h1>
  </mat-card-header>
  <mat-card-content>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 winners-table">
      <ng-container matColumnDef="Bowler">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Bowler</th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/bowlers', row.BowlerId]">{{ row.Bowler }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="SeasonDesc">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Season</th>
        <td mat-cell *matCellDef="let row">{{ row.SeasonDesc }}</td>
      </ng-container>

      <ng-container matColumnDef="Division">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Division</th>
        <td mat-cell *matCellDef="let row">{{ row.Division }}</td>
      </ng-container>

      <ng-container matColumnDef="TournamentNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let row">{{ row.TournamentNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="TournamentLocation">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/results', row.Division?.toLowerCase(), row.SeasonCode, row.TournamentNumber]">
            {{ row.TournamentLocation }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="TournamentDetails">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{ row.TournamentDetails | dateDisplay }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
