<footer class="bg-light p-1 text-center">
    <a
        class="footer-social"
        href="https://www.facebook.com/profile.php?id=100064423609828"
        target="_blank"
        rel="noopener"
        aria-label="Facebook"
    >
        <svg viewBox="0 0 320 512" role="img" aria-hidden="true">
            <path d="M279.14 288l14.22-92.66h-88.91V117.78c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.2V288z"></path>
        </svg>
    </a>
    <a
        class="footer-link footer-link--icon"
        href="https://drive.google.com/drive/folders/1ypcTtTT5aw1oW7V442g0LAabE_IR-_ae"
        target="_blank"
        rel="noopener"
        aria-label="Google Drive"
    >
        <img src="assets/gdrive.png" alt="" class="footer-icon-img" />
    </a>
    <a
        class="footer-link footer-link--icon"
        href="https://www.youtube.com/@ManitobaMasters"
        target="_blank"
        rel="noopener"
        aria-label="YouTube"
    >
        <svg viewBox="0 0 576 512" role="img" aria-hidden="true">
            <path d="M549.7 124.1c-6.3-23.8-25-42.5-48.7-48.7C458.7 64 288 64 288 64s-170.7 0-213 11.4c-23.8 6.3-42.5 25-48.7 48.7C14.9 166.4 14.9 256 14.9 256s0 89.6 11.4 131.9c6.3 23.8 25 42.5 48.7 48.7 42.3 11.4 213 11.4 213 11.4s170.7 0 213-11.4c23.8-6.3 42.5-25 48.7-48.7 11.4-42.3 11.4-131.9 11.4-131.9s0-89.6-11.4-131.9zM232.2 338.2V173.8L374.8 256 232.2 338.2z"></path>
        </svg>
    </a>
</footer>
