footer {
    min-height: 50px !important;
    height: 50px !important;
    position:fixed;
    bottom:0px;
    width:100%;
    background: #121212;
    color: #fff7d6;
    border-top: 2px solid #f6c400;
}
