<table>
    <tr>
        <td>Masters Average</td>            <td style="text-align: right;">{{stats.playingAverage}}</td>
        <td>Career Average</td>             <td style="text-align: right;">{{stats.careerAverage}}</td>
    </tr>
    <tr>
        <td>Wins/Stars</td>                 <td style="text-align: right;">{{stats.wins}}</td>
        <td>Career Total</td>               <td style="text-align: right;">{{stats.totalPinfall}}</td>
    </tr>
    <tr>
        <td>High Game</td>                  <td style="text-align: right;">{{stats.highGame}}</td>
        <td>Career Tournaments</td>         <td style="text-align: right;">{{stats.tournaments}}</td>
    </tr>
    <tr>
        <td>High Set</td>                   <td style="text-align: right;">{{stats.highSet}}</td>
        <td>Career Games</td>               <td style="text-align: right;">{{stats.games}}</td>
    </tr>
</table>