<div class="editor-container">
  <editor
    [apiKey]="editorApiKey"
    [init]="{
      base_url: '/assets/tinymce',
      plugins: 'table paste lists link code',
      menubar: 'file edit view insert format table tools',
      toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link | paste | code',
      paste_data_images: false
    }"
    [(ngModel)]="contentHtml"
  ></editor>
  <div class="actions">
    <button class="btn btn-primary" (click)="saveContent()">Save</button>
  </div>
</div>
