.oldSeason { 
    background-color: rgb(233, 233, 233) !important;
}
.futureTournament { 
    background-color: rgb(255, 255, 191) !important;
}

:host ::ng-deep .mat-header-cell,
:host ::ng-deep .mat-cell,
:host ::ng-deep .mat-mdc-header-cell,
:host ::ng-deep .mat-mdc-cell {
    padding: 6px 8px;
}

@media (max-width: 700px) {
    :host ::ng-deep .mat-table {
        margin-left: 0;
        width: 100%;
    }

    :host ::ng-deep .mat-column-TournamentNumber {
        width: 26px;
        padding-right: 2px;
    }

    :host ::ng-deep .mat-column-Division {
        width: 72px;
    }

    :host ::ng-deep .mat-column-TournamentDetails a {
        display: inline-block;
        line-height: 1.2;
        white-space: nowrap;
    }

    :host ::ng-deep .mat-column-TournamentLocation {
        padding-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
